@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
   font-family: "Atkinson Hyperlegible Mono", sans-serif; 
}

@layer base{
  button{
    @apply cursor-pointer;
  }
  input:not([type ="checkbox"]){
  @apply outline-none focus:ring border-gray-300
  focus:ring-blue-500 focus:border-blue-500 rounded-lg;
}
textarea{
  @apply outline-none focus:ring border-gray-300
  focus:ring-blue-500 focus:border-blue-500 rounded-lg resize;
   
}

}